pkgbase = discord-launcher
	pkgdesc = Keeps an up-to-date Discord install in your home directory, so Discord updates don't need root
	pkgver = 0.0.0
	pkgrel = 1
	url = https://github.com/vscncls/discord-launcher
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	depends = zenity
	depends = gtk3
	depends = libxss
	depends = libnotify
	depends = nspr
	depends = nss
	depends = desktop-file-utils
	provides = spotify
	backup = etc/discord-launcher.conf

pkgname = discord-launcher
